/Library
/Temp
/Logs
*.log
/Logs
*.log
*.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/AssetImportWorker2.log
Logs/AssetImportWorker3.log
Logs/AssetImportWorker4.log
Logs/shadercompiler-AssetImportWorker0-0.log
Logs/shadercompiler-AssetImportWorker1-0.log
Logs/shadercompiler-AssetImportWorker2-0.log
Logs/shadercompiler-AssetImportWorker3-0.log
Logs/shadercompiler-AssetImportWorker4-0.log
Logs/shadercompiler-UnityShaderCompiler.exe-0.log
Logs/shadercompiler-UnityShaderCompiler.exe-1.log
Logs/shadercompiler-UnityShaderCompiler.exe-2.log
Logs/shadercompiler-UnityShaderCompiler.exe-3.log
Logs/shadercompiler-UnityShaderCompiler.exe-4.log
Logs/shadercompiler-UnityShaderCompiler.exe-5.log
Logs/shadercompiler-UnityShaderCompiler.exe-6.log
Logs/shadercompiler-UnityShaderCompiler.exe-7.log
Logs/shadercompiler-UnityShaderCompiler.exe-8.log
Logs/shadercompiler-UnityShaderCompiler.exe-9.log
Logs/shadercompiler-UnityShaderCompiler.exe-10.log
Logs/shadercompiler-UnityShaderCompiler.exe-11.log
Logs/shadercompiler-UnityShaderCompiler.exe-12.log
Logs/shadercompiler-UnityShaderCompiler.exe-13.log
Logs/shadercompiler-UnityShaderCompiler.exe-14.log
Logs/shadercompiler-UnityShaderCompiler.exe-15.log
Logs/shadercompiler-UnityShaderCompiler.exe-16.log
Logs/shadercompiler-UnityShaderCompiler.exe-17.log
Logs/shadercompiler-UnityShaderCompiler.exe-18.log
Logs/shadercompiler-UnityShaderCompiler.exe-19.log
