/Library
/Temp
/Logs
*.log
/Logs
*.log
*.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/AssetImportWorker2.log
Logs/AssetImportWorker3.log
Logs/AssetImportWorker4.log
Logs/shadercompiler-AssetImportWorker0-0.log
Logs/shadercompiler-AssetImportWorker1-0.log
Logs/shadercompiler-AssetImportWorker2-0.log
Logs/shadercompiler-AssetImportWorker3-0.log
Logs/shadercompiler-AssetImportWorker4-0.log
Logs/shadercompiler-UnityShaderCompiler.exe-0.log
Logs/shadercompiler-UnityShaderCompiler.exe-1.log
Logs/shadercompiler-UnityShaderCompiler.exe-2.log
Logs/shadercompiler-UnityShaderCompiler.exe-3.log
Logs/shadercompiler-UnityShaderCompiler.exe-4.log
Logs/shadercompiler-UnityShaderCompiler.exe-5.log
Logs/shadercompiler-UnityShaderCompiler.exe-6.log
Logs/shadercompiler-UnityShaderCompiler.exe-7.log
Logs/shadercompiler-UnityShaderCompiler.exe-8.log
Logs/shadercompiler-UnityShaderCompiler.exe-9.log
Logs/shadercompiler-UnityShaderCompiler.exe-10.log
Logs/shadercompiler-UnityShaderCompiler.exe-11.log
Logs/shadercompiler-UnityShaderCompiler.exe-12.log
Logs/shadercompiler-UnityShaderCompiler.exe-13.log
Logs/shadercompiler-UnityShaderCompiler.exe-14.log
Logs/shadercompiler-UnityShaderCompiler.exe-15.log
Logs/shadercompiler-UnityShaderCompiler.exe-16.log
Logs/shadercompiler-UnityShaderCompiler.exe-17.log
Logs/shadercompiler-UnityShaderCompiler.exe-18.log
Logs/shadercompiler-UnityShaderCompiler.exe-19.log
/.vs/Project-Anima.slnx/v18
.vs/Project-Anima.slnx/v18/fileList.bin
*.bin
*.v2
.vs/Project-Anima.slnx/DesignTimeBuild/.dtbcache.v2
.vs/Project-Anima.slnx/FileContentIndex/0190340f-067a-49eb-8cda-d6480ff4e76f.vsidx
.vs/Project-Anima.slnx/FileContentIndex/24a233a9-4a6e-4032-8171-1b71652d25a1.vsidx
.vs/Project-Anima.slnx/FileContentIndex/7395c8fb-ed2b-4dd2-bc04-b5e404c50743.vsidx
.vs/Project-Anima.slnx/FileContentIndex/780d97b4-cda2-45f8-9f92-69c347cd7039.vsidx
.vs/Project-Anima.slnx/FileContentIndex/7ebd4900-e333-4094-af7a-f5519b61ae36.vsidx
.vs/Project-Anima.slnx/FileContentIndex/82e65e16-48fe-4023-9a97-8666f52263f7.vsidx
.vs/Project-Anima.slnx/FileContentIndex/a7e2d845-51d1-4315-9602-9e48e1ea6e58.vsidx
.vs/Project-Anima.slnx/FileContentIndex/cf4efcd0-c2d0-4b7d-86ef-cf7aa475be1e.vsidx
.vs/Project-Anima.slnx/FileContentIndex/d71a8001-3cf4-47d6-ae2a-9b3d0e8ddcd3.vsidx
.vs/Project-Anima.slnx/FileContentIndex/e72ff6db-0389-4882-80e1-3fea2a07f7f1.vsidx
.vs/Project-Anima.slnx/v18/.futdcache.v2
.vs/Project-Anima.slnx/v18/.suo
.vs/Project-Anima.slnx/v18/DocumentLayout.backup.json
.vs/Project-Anima.slnx/v18/DocumentLayout.json
.vs/Project-Anima.slnx/v18/fileList.bin
Logs/shadercompiler-UnityShaderCompiler.exe-0.log
Project-Anima.slnx
Build/3d.exe
Build/3d_Data/level0
Build/3d_Data/level1
Build/3d_Data/level2
Build/3d_Data/level3
Build/3d_Data/level4
Build/3d_Data/app.info
Build/3d_Data/Managed/UnityEngine.InputLegacyModule.dll
Build/3d_Data/boot.config
Build/3d_Data/resources.assets
Build/3d_Data/globalgamemanagers
Build/3d_Data/Managed/System.dll
Build/3d_Data/Managed/mscorlib.dll
Build/3d_Data/sharedassets0.assets
Build/3d_Data/sharedassets1.assets
Build/3d_Data/sharedassets2.assets
Build/3d_Data/sharedassets3.assets
Build/3d_Data/sharedassets4.assets
Build/D3D12/D3D12Core.dll
Build/3d_Data/resources.assets.resS
Build/3d_Data/Managed/Unity.InputSystem.dll
Build/3d_Data/Managed/System.Xml.dll
Build/3d_Data/sharedassets0.resource
Build/3d_Data/sharedassets1.resource
Build/3d_Data/sharedassets2.resource
Build/3d_Data/Managed/Unity.Burst.dll
Build/3d_Data/Managed/UnityEngine.dll
Build/3d_Data/Managed/netstandard.dll
Build/3d_Data/Managed/System.Core.dll
Build/3d_Data/Managed/System.Data.dll
Build/3d_Data/ScriptingAssemblies.json
Build/3d_Data/Managed/Unity.Splines.dll
Build/3d_Data/globalgamemanagers.assets
Build/3d_Data/Managed/Mono.Security.dll
Build/3d_Data/Managed/System.Memory.dll
Build/3d_Data/sharedassets0.assets.resS
Build/3d_Data/sharedassets1.assets.resS
Build/3d_Data/sharedassets2.assets.resS
Build/3d_Data/sharedassets3.assets.resS
Build/3d_Data/Managed/Unity.Timeline.dll
Build/3d_Data/Managed/UnityEngine.UI.dll
Build/3d_Data/Managed/System.Drawing.dll
Build/3d_Data/Managed/System.Runtime.dll
Build/3d_Data/Managed/Unity.InputSystem.ForUI.dll
Build/3d_Data/Managed/UnityEngine.IMGUIModule.dll
Build/3d_Data/Managed/UnityEngine.InputModule.dll
Build/3d_Data/Managed/Assembly-CSharp.dll
Build/3d_Data/Managed/System.Net.Http.dll
Build/3d_Data/Managed/System.Numerics.dll
Build/3d_Data/Managed/System.Security.dll
Build/3d_Data/Managed/System.Xml.Linq.dll
Build/3d_Data/Resources/unity_builtin_extra
Build/3d_Data/Managed/Unity.Cinemachine.dll
Build/3d_Data/Managed/Unity.Collections.dll
Build/3d_Data/Managed/Unity.Mathematics.dll
Build/3d_Data/Managed/Unity.TextMeshPro.dll
Build/3d_Data/Managed/System.IO.Hashing.dll
Build/3d_Data/RuntimeInitializeOnLoads.json
Build/3d_Data/Managed/Unity.Burst.Unsafe.dll
Build/3d_Data/Managed/UnityEngine.InsightsModule.dll
Build/3d_Data/globalgamemanagers.assets.resS
Build/3d_Data/Managed/Unity.AI.Navigation.dll
Build/3d_Data/Managed/Unity.StarterAssets.dll
Build/3d_Data/Managed/System.Transactions.dll
Build/3d_Data/Managed/UnityEngine.AIModule.dll
Build/3d_Data/Managed/UnityEngine.ARModule.dll
Build/3d_Data/Managed/UnityEngine.GIModule.dll
Build/3d_Data/Managed/UnityEngine.UIModule.dll
Build/3d_Data/Managed/UnityEngine.VRModule.dll
Build/3d_Data/Managed/UnityEngine.XRModule.dll
Build/3d_Data/Managed/UnityEngine.InputForUIModule.dll
Build/3d_Data/Resources/unity default resources
Build/3d_Data/Managed/System.Configuration.dll
Build/3d_Data/Managed/UnityEngine.AMDModule.dll
Build/3d_Data/Managed/UnityEngine.TLSModule.dll
Build/3d_Data/Managed/UnityEngine.VFXModule.dll
Build/3d_Data/Managed/UnityEngine.IdentifiersModule.dll
Build/3d_Data/Managed/System.IO.Compression.dll
Build/3d_Data/Managed/UnityEngine.CoreModule.dll
Build/3d_Data/Managed/UnityEngine.GridModule.dll
Build/3d_Data/Managed/UnityEngine.WindModule.dll
Build/3d_Data/Managed/UnityEngine.ClusterInputModule.dll
Build/3d_Data/Managed/UnityEngine.AudioModule.dll
Build/3d_Data/Managed/UnityEngine.ClothModule.dll
Build/3d_Data/Managed/UnityEngine.UmbraModule.dll
Build/3d_Data/Managed/UnityEngine.VideoModule.dll
Build/3d_Data/Managed/UnityEngine.NVIDIAModule.dll
Build/3d_Data/Managed/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.dll
Build/3d_Data/Managed/UnityEngine.PhysicsModule.dll
Build/3d_Data/Managed/UnityEngine.TerrainModule.dll
Build/3d_Data/Managed/UnityEngine.TilemapModule.dll
Build/3d_Data/Managed/Unity.InternalAPIEngineBridge.004.dll
Build/3d_Data/Managed/UnityEngine.ImageConversionModule.dll
Build/3d_Data/Managed/UnityEngine.SharedInternalsModule.dll
Build/3d_Data/Managed/System.EnterpriseServices.dll
Build/3d_Data/Managed/Unity.VisualScripting.Core.dll
Build/3d_Data/Managed/Unity.VisualScripting.Flow.dll
Build/3d_Data/Managed/UnityEngine.DirectorModule.dll
Build/3d_Data/Managed/UnityEngine.DSPGraphModule.dll
Build/3d_Data/Managed/UnityEngine.VehiclesModule.dll
Build/3d_Data/Plugins/x86_64/lib_burst_generated.dll
Build/3d_Data/Managed/Unity.VisualScripting.State.dll
Build/3d_Data/Managed/UnityEngine.AnimationModule.dll
Build/3d_Data/Managed/UnityEngine.HierarchyModule.dll
Build/3d_Data/Managed/UnityEngine.HotReloadModule.dll
Build/3d_Data/Managed/UnityEngine.Physics2DModule.dll
Build/3d_Data/Managed/UnityEngine.StreamingModule.dll
Build/3d_Data/Managed/UnityEngine.SubstanceModule.dll
Build/3d_Data/Managed/UnityEngine.UnityCurlModule.dll
Build/3d_Data/Managed/UnityEngine.AndroidJNIModule.dll
Build/3d_Data/Managed/UnityEngine.GameCenterModule.dll
Build/3d_Data/Managed/UnityEngine.PropertiesModule.dll
Build/3d_Data/Managed/UnityEngine.RenderAs2DModule.dll
Build/3d_Data/Managed/UnityEngine.SpriteMaskModule.dll
Build/3d_Data/Managed/UnityEngine.SubsystemsModule.dll
Build/3d_Data/Managed/UnityEngine.UIElementsModule.dll
Build/3d_Data/Managed/Unity.Collections.LowLevel.ILSupport.dll
Build/3d_Data/Managed/System.Runtime.Serialization.dll
Build/3d_Data/Managed/UnityEngine.AssetBundleModule.dll
Build/3d_Data/Managed/UnityEngine.ContentLoadModule.dll
Build/3d_Data/Managed/UnityEngine.MarshallingModule.dll
Build/3d_Data/Managed/UnityEngine.MultiplayerModule.dll
Build/3d_Data/Managed/UnityEngine.SpriteShapeModule.dll
Build/3d_Data/Managed/System.Data.DataSetExtensions.dll
Build/3d_Data/Managed/System.ServiceModel.Internals.dll
Build/3d_Data/Managed/UnityEngine.LocalizationModule.dll
Build/3d_Data/Managed/UnityEngine.UnityConnectModule.dll
Build/3d_Data/Managed/UnityEngine.UnityConsentModule.dll
Build/3d_Data/Managed/Unity.Multiplayer.Center.Common.dll
Build/3d_Data/Managed/Unity.UnifiedRayTracing.Runtime.dll
Build/3d_Data/Managed/UnityEngine.AccessibilityModule.dll
Build/3d_Data/Managed/UnityEngine.HierarchyCoreModule.dll
Build/3d_Data/Managed/UnityEngine.JSONSerializeModule.dll
Build/3d_Data/Managed/UnityEngine.ScreenCaptureModule.dll
Build/3d_Data/Managed/UnityEngine.ShaderRuntimeModule.dll
Build/3d_Data/Managed/UnityEngine.TextRenderingModule.dll
Build/3d_Data/Managed/UnityEngine.CrashReportingModule.dll
Build/3d_Data/Managed/UnityEngine.ParticleSystemModule.dll
Build/3d_Data/Managed/UnityEngine.TerrainPhysicsModule.dll
Build/3d_Data/Managed/UnityEngine.UnityAnalyticsModule.dll
Build/3d_Data/Managed/UnityEngine.VectorGraphicsModule.dll
Build/3d_Data/Managed/System.IO.Compression.FileSystem.dll
Build/3d_Data/Managed/UnityEngine.ClusterRendererModule.dll
Build/3d_Data/Managed/UnityEngine.UnityWebRequestModule.dll
Build/3d_Data/Managed/System.ComponentModel.Composition.dll
Build/3d_Data/Managed/Unity.RenderPipelines.Core.Runtime.dll
Build/3d_Data/Managed/UnityEngine.VirtualTexturingModule.dll
Build/3d_Data/Managed/Unity.VisualScripting.Antlr3.Runtime.dll
Build/3d_Data/Managed/UnityEngine.TextCoreFontEngineModule.dll
Build/3d_Data/Managed/UnityEngine.TextCoreTextEngineModule.dll
Build/3d_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
Build/3d_Data/Managed/Unity.VisualScripting.DocCodeExamples.dll
Build/3d_Data/Managed/UnityEngine.AdaptivePerformanceModule.dll
Build/3d_Data/Managed/UnityEngine.PhysicsBackendPhysXModule.dll
Build/3d_Data/Managed/System.Runtime.CompilerServices.Unsafe.dll
Build/3d_Data/Managed/UnityEngine.PerformanceReportingModule.dll
Build/3d_Data/Managed/UnityEngine.UnityAnalyticsCommonModule.dll
Build/3d_Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
Build/3d_Data/Managed/Unity.RenderPipelines.GPUDriven.Runtime.dll
Build/3d_Data/Managed/Unity.RenderPipelines.Universal.Runtime.dll
Build/3d_Data/Managed/Unity.RenderPipelines.Universal.Shaders.dll
Build/3d_Data/Managed/Unity.RenderPipelines.Core.ShaderLibrary.dll
Build/3d_Data/Managed/UnityEngine.ShaderVariantAnalyticsModule.dll
Build/3d_Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
Build/3d_Data/Managed/Unity.RenderPipelines.Core.Runtime.Shared.dll
Build/3d_Data/Managed/Unity.RenderPipelines.Universal.2D.Runtime.dll
Build/3d_Data/Managed/Unity.RenderPipeline.Universal.ShaderLibrary.dll
Build/3d_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll
Build/3d_Data/Managed/Unity.RenderPipelines.Universal.Config.Runtime.dll
Build/3d_Data/Managed/UnityEngine.GraphicsStateCollectionSerializerModule.dll
Build/3d_Data/Managed/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.dll
Build/3d_BurstDebugInformation_DoNotShip/Data/Plugins/x86_64/lib_burst_generated.txt
